ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; }

  #navbar {
    flex-grow: 1;
    margin: 0.5em;
    font-size: 35px;
    display: flex;
    justify-content: center;}

#navbar a {
  padding: 0px;
  text-decoration: none;
  width: 0px;
  text-align: center; }
  
  .section{
    box-sizing: border-box;
    
  }
  
.titulo {
  color: black;
  font-size: 50px;
  text-align: center;
  border-bottom: solid 7px black; }

.main-footer {
  text-align: center;
  margin: 40px auto;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 15px;
  max-width: 1024px;
  width: 90%; }

.redes {
  margin: 30px;
  margin-top: 0%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 15px solid black; }

h3 {
  background-color: chocolate;
  font-size: 23px solid; }

.lomejor {
  text-align: center;
  border-top: solid 6px black;
  font-size: 30px;
  color: black; 
}

.imagenesinicio {
  padding-top: 100px;
text-align: center; }

#grid {
  background-image: linear-gradient(grey, white); }

.fototrabajo {
  text-align: center;
  border-top: solid 5px black;
  border-bottom: solid 5px black; }

.leg {
  text-align: center;
  border-top: solid 6px black;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif; }

.productos {
  border-top: solid 6px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 12%;
}
.maps {
  display: flex;
  justify-content: center;
}
.imagenesinicio img{
  width: 350px;
  height: 350px;
}
.productos1{
  margin: 3em;
}
.productos1 img{
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
}

.TRABAJO {
  border-top: solid 6px black;
  font-size: 27px; }

.contacto {
  font-size: 23px; }

#lorem {
  font-size: 30px; }

.h4prod {
  font-size: 25px; }

.loremnt {
  font-size: 34px; }

.plorem {
  font-size: 20px; }

.fotoquien{
  display: flex;
  justify-content: center;
}
.sec-footer {
  background: #3b3b3d;
  direction: rtl;
  text-align: right;
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2rem; }
  .sec-footer .desc-box {
    background: transparent;
    border: 0; }
    .sec-footer .desc-box .card-title::after {
      content: ' ';
      background: #ffffff;
      display: block;
      width: 95%;
      height: 0.2rem;
      margin-top: 0.3rem; }
    .sec-footer .desc-box .card-text {
      text-align: justify; }

.sec-sub-footer {
  background: #f2f2f4;
  direction: rtl;
  text-align: right;
  color: #000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.8rem; }
  .sec-sub-footer a {
    font-size: 0.8rem; }

.snip1472 {
  position: relative;
  font-size: 20px;
  color: #e6e6e6;
  width: 45px;
  margin: 4px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .snip1472:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e6e6e6;
    content: '';
    z-index: -1;
    border-radius: 50%; }
  .snip1472:before {
    color: #fff; }

.snip1472:before,
.snip1472:after {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out; }

.snip1472:hover,
.snip1472:active,
.snip1472.hover {
  color: #c0392b; }
  
.snip1472:hover:after,
.snip1472:active:after,
.snip1472.hover:after {
  border-color: #c0392b transparent #c0392b transparent;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }
  @media (min-width:780px) and (max-width:1024px) {
    .imagenesinicio{
      text-align: center;
    }
    .productos{
      display: flex;
      flex-direction: column;
    }
    .productos img{
    display: flex;
    justify-content: center;
    }
    
    }
  nav a{font-size: 1.5em;
    text-align: center;
  }
  @media (min-width:480px) and (max-width:780px) {
    .imagenesinicio{
      text-align: center;
    }
  }
  @media (min-width:360px) and (max-width:480px) {
  .productos{
    display: flex;
    flex-direction: column;
    
  }
  .fotoquien img{
    width: 100%;
  }
  .productos1 img {
    width: 300px;
  }
  }